name: Deploy Project
on: 
  - push
  - workflow_dispatch
jobs:
    test:
        runs-on: self-hosted
        steps: 
            - name: Get code
              uses: actions/checkout@v6
            - name: Install Dependencies
              run: npm ci
            - name: Run tests
              run: npm test
    deploy:
        needs: test
        runs-on: self-hosted
        steps:
          - name: Get code
            uses: actions/checkout@v6
          - name: Install Dependencies
            run: npm ci
          - name: Build project
            run: npm run build
          - name: Deploy
            run: echo "Deploying..."

            
