name: Test Project
on: push
jobs:
    test:
        runs-on: self-hosted
        steps: 
            - name: Get code
              uses: actions/checkout@v6
            - name: Install Dependencies
              run: npm ci
            - name: Run tests
              run: npm test
